html{
  background-color: #2196f3;
}

.wavePortal {
  background-color: black;
  margin: 0;
  min-height: 100vh;
}

.heading {
  font-weight: bold;
  font-size: 4rem;
}

.intro-text {
  font-size: 1.5rem;
  color: white;
}

/* If the screen size is 768px or less, set the font size to 3rem */
@media (max-width: 768px) {
  .heading {
    font-size: 3.5rem;
  }

  .intro-text {
    font-size: 1.2rem;
  }
}

/* If the screen size is 576px or less, set the font size to 2rem */
@media (max-width: 576px) {
  .heading {
    font-size: 3rem;
  }

  .intro-text {
    font-size: 1.3rem;
  }
}

.gradient {
  background: linear-gradient(45deg, #fc466b, #2196f3);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.solid-blue {
  color: #2196f3;
}

.solid-red {
  color: #fc466b;
}



.btn-gradient {
  background: linear-gradient(45deg, #fc466b, #2196f3);
  border: none;
  color: white;
}

.message-box {
  background-color: #171717;
  border: none;
  color: white;
  width: 100%;
  border-radius: 10px;
  font-size: 1.5rem;
  outline: none;
}

.btn-style {
  background-color: #2196f3;
  border: none;
  outline: none;
  padding: 11px 35px;
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 10px;
}

.btn-style:hover {
  background-color: #1772bc;
}

.address {
  font-size: 0.8rem;
  color: rgb(95, 95, 95);
  overflow-wrap: break-word;
}

.time {
  font-size: 0.9rem;
  color: rgb(139, 139, 139);
}